{% extends "layout.html" %}

{% block title %}
검색
{% endblock %}

{% block body %}
    <h1>검색 결과</h1>
    {% if result|length == 0 %}
    <h3>검색 결과가 존재하지 않습니다</h3>
    {% elif result|length >= 500 %}
    <h3>검색결과가 너무 많아 500개의 검색 결과만 노출됩니다</h3>
    {% endif %}

    <table>
        <tr>
            <th>이름</th>
            <th>주소</th>
        </tr>
        {% for row in result %}
        <tr>
            <td>{{ row['sname'] }}</td>
            <td>{{ row['address'] }}</td>
            <td>
                <form action="/customer/shopping/{{ row['sid'] }}" method="GET">
                    <button type="submit">선택</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>    
{% endblock %}