{% extends "layout.html" %}

{% block title %}
seller
{% endblock %}

{% block head %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block body %}
    <h1>안녕하세요 {{ user['name'] }} 사장님!</h1>
    <h2>가게 관리</h2>
    {% for store in stores %}
    <form action="/store/{{ store['sid'] }}" method='GET'> 
        <li>
            {{ store['sname'] }}
            <button type='submit'>보기</button>
        </li>
    </form>
    {% endfor %}

    <h2>기타</h2>
    <li>
        <a href='/mybaehan'>개인정보 수정</a>
    </li>
    <li>
        <a href='/logout'>로그아웃</a>
    </li>
{% endblock %}